<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso:</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" [attr.ariaValuenow]="porcentaje1" [style.width]="porcentaje1+'%'">
                    </div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" [attr.ariaValuenow]="porcentaje2" [style.width]="porcentaje2+'%'">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-increment (porcentajeValue)="porcentaje1 = $event" [leyenda]="'Leyenda #1'" [porcentaje]="porcentaje1"></app-increment>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-increment (porcentajeValue)="porcentaje2 = $event" [leyenda]="'Leyenda #2'" [porcentaje]="porcentaje2"></app-increment>

            </div>
        </div>
    </div>
</div>